In [1]:
import sklearn

In [2]:
# !python -m pip install sklearn

Requirement already satisfied: sklearn in c:\python\python36\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\python\python36\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.5.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in c:\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.0.1)

In [3]:
# %load_ext autoreload

# %autoreload 2

In [4]:
import pandas as pd

In [5]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 008D-D65B

 C:\Develops\test_machinelearning\files 디렉터리

2021-06-29  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리   9,436,770,304 바이트 남음

In [6]:
pd.read_csv('./files/auto-mpg.csv', header=None)

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [7]:
pd_data = pd.read_csv('./files/auto-mpg.csv')
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   18.0                       397 non-null    float64
 1   8                          397 non-null    int64
 2   307.0                      397 non-null    float64
 3   130.0                      397 non-null    object
 4   3504.                      397 non-null    float64
 5   12.0                       397 non-null    float64
 6   70                         397 non-null    int64
 7   1                          397 non-null    int64
 8   chevrolet chevelle malibu  397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [8]:
pd_data.shape

(397, 9)

In [9]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [10]:
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
394,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
396,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [11]:
x = pd_data[['weight']]

In [12]:
y = pd_data[['mpg']]

In [13]:
x.shape, y.shape

((397, 1), (397, 1))

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
train_test_split(x,y)

[     weight
 318  2542.0
 48   2220.0
 225  3425.0
 148  2489.0
 385  2945.0
 ..      ...
 271  2855.0
 142  2300.0
 370  2525.0
 380  2205.0
 46   3282.0

 [297 rows x 1 columns],
      weight
 196  1937.0
 324  2085.0
 154  3158.0
 314  3003.0
 29   2264.0
 ..      ...
 72   4098.0
 8    3850.0
 45   2408.0
 363  3725.0
 297  3900.0

 [100 rows x 1 columns],
       mpg
 318  31.3
 48   23.0
 225  20.5
 148  24.0
 385  25.0
 ..    ...
 271  23.8
 142  26.0
 370  29.0
 380  36.0
 46   19.0

 [297 rows x 1 columns],
       mpg
 196  29.0
 324  44.3
 154  15.0
 314  24.3
 29   28.0
 ..    ...
 72   13.0
 8    15.0
 45   22.0
 363  26.6
 297  23.0

 [100 rows x 1 columns]]

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((297, 1), (100, 1), (297, 1), (100, 1))

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression()

In [19]:
# lr.fit(x,y)
lr.fit(X_train, Y_train)

LinearRegression()

함수 내부적으로 x,y에 대한 선형회귀선 형성

In [20]:
# total data
lr.coef_, lr.intercept_

(array([[-0.00770179]]), array([46.26861319]))

In [21]:
# split data_ with 1 column
lr.coef_, lr.intercept_

(array([[-0.00770179]]), array([46.26861319]))

coefficient : 계수, intercept : 절편

y = -0.00767394x + 46.31301639

In [22]:
lr.score(x,y)

0.6912146151091525

해당 linearRegression의 정확성  R^2 인듯