In [1]:
import sklearn

In [2]:
# !python -m pip install sklearn

In [3]:
# %load_ext autoreload

# %autoreload 2

In [4]:
import pandas as pd

In [5]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 008D-D65B

 C:\Develops\test_machinelearning\files 디렉터리

2021-06-29  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리   9,052,418,048 바이트 남음

In [6]:
pd.read_csv('./files/auto-mpg.csv', header=None)

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [7]:
pd_data = pd.read_csv('./files/auto-mpg.csv')
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   18.0                       397 non-null    float64
 1   8                          397 non-null    int64
 2   307.0                      397 non-null    float64
 3   130.0                      397 non-null    object
 4   3504.                      397 non-null    float64
 5   12.0                       397 non-null    float64
 6   70                         397 non-null    int64
 7   1                          397 non-null    int64
 8   chevrolet chevelle malibu  397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [8]:
pd_data.shape

(397, 9)

In [9]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [10]:
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
394,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
396,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [11]:
pd_data[['weight','cylinders', 'mpg']]

     weight  cylinders   mpg
0    3693.0          8  15.0
1    3436.0          8  18.0
2    3433.0          8  16.0
3    3449.0          8  17.0
4    4341.0          8  15.0
..      ...        ...   ...
392  2790.0          4  27.0
393  2130.0          4  44.0
394  2295.0          4  32.0
395  2625.0          4  28.0
396  2720.0          4  31.0

[397 rows x 3 columns]

df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [12]:
x = pd_data[['weight','cylinders']]

In [13]:
y = pd_data[['mpg']]

In [14]:
x.shape, y.shape

((397, 2), (397, 1))

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_test_split(x,y)

[     weight  cylinders
 97   3278.0          6
 310  2120.0          4
 323  2110.0          4
 123  3664.0          8
 235  2755.0          4
 ..      ...        ...
 110  2124.0          3
 199  3574.0          6
 238  1985.0          4
 294  1915.0          4
 57   2126.0          4

 [297 rows x 2 columns],
      weight  cylinders
 211  4380.0          8
 378  2125.0          4
 218  2300.0          4
 228  4220.0          8
 100  2904.0          6
 ..      ...        ...
 210  3820.0          6
 46   3282.0          6
 394  2295.0          4
 269  2515.0          4
 392  2790.0          4

 [100 rows x 2 columns],
       mpg
 97   16.0
 310  32.1
 323  40.8
 123  11.0
 235  25.5
 ..    ...
 110  18.0
 199  18.0
 238  30.0
 294  35.7
 57   25.0

 [297 rows x 1 columns],
       mpg
 211  16.5
 378  36.0
 218  25.5
 228  16.0
 100  23.0
 ..    ...
 210  16.5
 46   19.0
 394  32.0
 269  21.1
 392  27.0

 [100 rows x 1 columns]]

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((297, 2), (100, 2), (297, 1), (100, 1))

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lr = LinearRegression()

In [20]:
# lr.fit(x,y)
lr.fit(X_train, Y_train)

LinearRegression()

함수 내부적으로 x,y에 대한 선형회귀선 형성

In [21]:
# total data
lr.coef_, lr.intercept_

(array([[-0.00587258, -0.90142825]]), array([45.78158824]))

In [22]:
# split data_ with 1 column
lr.coef_, lr.intercept_

(array([[-0.00587258, -0.90142825]]), array([45.78158824]))

coefficient : 계수, intercept : 절편

y = -0.00587258x_1 -0.90142825x_2 + 45.78158824

In [23]:
# check with total data
lr.score(x,y)

0.69511587634084

해당 linearRegression의 정확성  R^2 인듯

In [25]:
# check with one part split train data 
lr.score(X_train,  Y_train)

0.7144372004552181

In [26]:
# check with one part split train data 
lr.score(X_test,  Y_test)

0.6337229577740147