In [1]:
import sklearn

In [2]:
# !python -m pip install sklearn

In [3]:
# %load_ext autoreload

# %autoreload 2

In [4]:
import pandas as pd

In [5]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 008D-D65B

 C:\Develops\test_machinelearning\files 디렉터리

2021-06-29  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리   9,051,324,416 바이트 남음

In [6]:
pd.read_csv('./files/auto-mpg.csv', header=None)

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [7]:
pd_data = pd.read_csv('./files/auto-mpg.csv')
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   18.0                       397 non-null    float64
 1   8                          397 non-null    int64
 2   307.0                      397 non-null    float64
 3   130.0                      397 non-null    object
 4   3504.                      397 non-null    float64
 5   12.0                       397 non-null    float64
 6   70                         397 non-null    int64
 7   1                          397 non-null    int64
 8   chevrolet chevelle malibu  397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [8]:
pd_data.shape

(397, 9)

In [9]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [10]:
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
394,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
396,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [11]:
pd_data[['weight','cylinders','mpg']]

     weight  cylinders   mpg
0    3693.0          8  15.0
1    3436.0          8  18.0
2    3433.0          8  16.0
3    3449.0          8  17.0
4    4341.0          8  15.0
..      ...        ...   ...
392  2790.0          4  27.0
393  2130.0          4  44.0
394  2295.0          4  32.0
395  2625.0          4  28.0
396  2720.0          4  31.0

[397 rows x 3 columns]

df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [12]:
x = pd_data[['weight','cylinders']]

In [13]:
y = pd_data[['mpg']]

In [14]:
x.shape, y.shape

((397, 2), (397, 1))

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_test_split(x,y)

[     weight  cylinders
 116  1867.0          4
 144  2003.0          4
 320  2265.0          4
 321  2110.0          4
 336  2290.0          4
 ..      ...        ...
 224  3520.0          6
 353  2320.0          4
 329  1835.0          4
 257  3380.0          6
 356  2615.0          4

 [297 rows x 2 columns],
      weight  cylinders
 280  2990.0          6
 58   2254.0          4
 221  4060.0          8
 109  2379.0          4
 24   4615.0          8
 ..      ...        ...
 112  2472.0          6
 371  2735.0          4
 342  1755.0          4
 276  3410.0          6
 253  2965.0          6

 [100 rows x 2 columns],
       mpg
 116  29.0
 144  32.0
 320  32.2
 321  46.6
 336  32.4
 ..    ...
 224  17.5
 353  34.5
 329  40.9
 257  20.6
 356  32.9

 [297 rows x 1 columns],
       mpg
 280  19.8
 58   23.0
 221  17.0
 109  22.0
 24   10.0
 ..    ...
 112  21.0
 371  27.0
 342  39.1
 276  16.2
 253  20.2

 [100 rows x 1 columns]]

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((297, 2), (100, 2), (297, 1), (100, 1))

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lr = LinearRegression()

In [20]:
# lr.fit(x,y)
lr.fit(X_train, Y_train)

LinearRegression()

함수 내부적으로 x,y에 대한 선형회귀선 형성

In [21]:
# total data
lr.coef_, lr.intercept_

(array([[-0.00626491, -0.74936761]]), array([46.27335624]))

In [22]:
# split data_ with 1 column
lr.coef_, lr.intercept_

(array([[-0.00626491, -0.74936761]]), array([46.27335624]))

coefficient : 계수, intercept : 절편

y = -0.00587258x_1 -0.90142825x_2 + 45.78158824

In [23]:
# check with total data
lr.score(x,y)

0.6958939116416175

해당 linearRegression의 정확성  R^2 인듯

In [24]:
# check with one part split train data 
lr.score(X_train,  Y_train)

0.7144996186530674

In [25]:
# check with one part split train data 
lr.score(X_test,  Y_test)

0.6457006111922838

In [26]:
# weight = cylinders
# lr.predict([3504.0, 8])

In [27]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [28]:
import pickle

In [30]:
pickle.dump(lr, open('./files/lr.pkl', 'wb'))

In [33]:
y_predict = lr.predict(X_train)
y_predict

array([[24.46235751],
       [10.54514688],
       [18.77097527],
       [28.42804629],
       [12.80677982],
       [29.43043208],
       [19.02299316],
       [18.85241912],
       [27.61360784],
       [30.74606343],
       [20.19453155],
       [22.73808549],
       [ 8.07677187],
       [30.71858205],
       [22.11159438],
       [29.7750022 ],
       [26.83049394],
       [29.48055137],
       [12.07378521],
       [19.14202647],
       [31.99904567],
       [29.00441812],
       [20.28850522],
       [17.2736615 ],
       [26.14135371],
       [30.93401077],
       [25.27537453],
       [31.14075284],
       [28.92923919],
       [31.05930899],
       [29.84391622],
       [28.33407262],
       [16.94162121],
       [27.68252186],
       [13.18267449],
       [29.718618  ],
       [14.34168306],
       [21.17812261],
       [16.61584582],
       [19.09817209],
       [16.75367387],
       [27.23771317],
       [31.78603869],
       [26.98711672],
       [30.62076521],
       [29.20489528],
       [23.60264324],
       [31.21593177],
       [25.73413448],
       [13.73398668],
       [32.03037023],
       [21.77328917],
       [24.70526761],
       [26.29171158],
       [27.57601837],
       [23.54141557],
       [12.55618337],
       [14.84287596],
       [29.55573031],
       [29.7750022 ],
       [16.34018973],
       [28.39672174],
       [29.39910753],
       [22.0113558 ],
       [14.41059708],
       [12.09884486],
       [30.58944065],
       [19.03552298],
       [16.87897209],
       [23.08265561],
       [29.99427409],
       [ 9.23578044],
       [14.87420051],
       [14.88046542],
       [29.09212688],
       [21.99256106],
       [29.75620746],
       [10.63285564],
       [18.06446175],
       [27.45698506],
       [31.77350887],
       [13.12002538],
       [20.19937502],
       [24.26188035],
       [33.17058406],
       [26.53604311],
       [25.2955907 ],
       [30.62703012],
       [29.93162498],
       [22.60652236],
       [31.05930899],
       [28.29648316],
       [13.47712532],
       [25.38956437],
       [23.22048366],
       [28.27142351],
       [14.60480933],
       [23.52119939],
       [26.73652027],
       [23.42096081],
       [29.90030042],
       [29.36778297],
       [22.78962622],
       [24.61271538],
       [24.01612738],
       [29.15477599],
       [22.91492445],
       [22.22436278],
       [24.39828696],
       [20.92126125],
       [21.44751379],
       [16.7160844 ],
       [28.86659008],
       [30.8400371 ],
       [30.8400371 ],
       [30.28246   ],
       [27.1437395 ],
       [14.71757773],
       [27.83914464],
       [23.32698715],
       [23.42096081],
       [29.31766368],
       [26.95579216],
       [29.28007421],
       [30.43281787],
       [12.86316402],
       [28.86416834],
       [28.89791463],
       [25.76545904],
       [21.21571208],
       [30.33884421],
       [20.59548587],
       [20.2759754 ],
       [ 9.54276109],
       [23.60890815],
       [28.18997967],
       [30.33884421],
       [15.89538104],
       [29.97547936],
       [19.19698923],
       [11.03380995],
       [16.28380553],
       [26.0787046 ],
       [13.08243591],
       [27.67625695],
       [23.29081912],
       [30.0569232 ],
       [21.98003124],
       [17.95653682],
       [29.3301935 ],
       [22.44989958],
       [20.41380344],
       [30.8400371 ],
       [25.18766577],
       [20.41380344],
       [20.31982978],
       [28.23383405],
       [30.96533532],
       [26.54857294],
       [26.8618185 ],
       [16.22115642],
       [17.14209836],
       [20.77090338],
       [17.2736615 ],
       [31.99904567],
       [13.90940419],
       [30.11957231],
       [27.26277281],
       [29.93162498],
       [27.03723601],
       [30.45787752],
       [30.27619509],
       [27.35048157],
       [11.36585025],
       [27.54469382],
       [20.10682279],
       [29.55573031],
       [12.36197113],
       [16.03320908],
       [15.5946653 ],
       [17.6683509 ],
       [29.34898824],
       [17.84518986],
       [18.40903186],
       [26.29029014],
       [29.80632675],
       [24.30431329],
       [32.16819827],
       [20.41138171],
       [12.83810438],
       [24.86189039],
       [20.09913644],
       [12.35570621],
       [13.50218496],
       [22.9072381 ],
       [29.08586197],
       [25.79678359],
       [29.74367764],
       [ 9.26084009],
       [18.98398225],
       [17.36279169],
       [27.92058849],
       [29.37404788],
       [17.91268244],
       [29.83765131],
       [13.84049017],
       [28.37166209],
       [28.27142351],
       [26.98469498],
       [23.04506614],
       [17.69341055],
       [21.66678568],
       [31.84242289],
       [26.01605549],
       [31.68580011],
       [30.87136166],
       [14.0284375 ],
       [29.56199522],
       [26.23532738],
       [14.70504791],
       [27.35048157],
       [24.1414256 ],
       [30.90268621],
       [23.54625904],
       [28.64731818],
       [25.17029247],
       [ 8.97265417],
       [10.83959771],
       [13.37688674],
       [30.52679154],
       [12.4622097 ],
       [20.60175078],
       [26.74278518],
       [18.94154931],
       [13.00099207],
       [15.29394956],
       [14.59227951],
       [30.46414243],
       [19.69333866],
       [27.08109039],
       [14.95564436],
       [24.0450302 ],
       [32.03037023],
       [30.97786515],
       [27.16253423],
       [24.75054342],
       [30.7272687 ],
       [16.94162121],
       [15.5946653 ],
       [26.23532738],
       [13.26411834],
       [20.727049  ],
       [12.31185184],
       [32.24964212],
       [23.76553093],
       [14.2539743 ],
       [29.14851108],
       [29.42801035],
       [30.06945302],
       [31.77977378],
       [25.56982535],
       [28.94176901],
       [29.67476362],
       [11.12151871],
       [29.49308119],
       [12.09257994],
       [18.75218054],
       [19.72466321],
       [14.73637247],
       [26.76784483],
       [31.1219581 ],
       [23.32698715],
       [25.32691525],
       [22.88844336],
       [12.57497811],
       [31.14075284],
       [13.87181472],
       [29.96294953],
       [28.36539718],
       [21.09041385],
       [31.02798444],
       [30.42655296],
       [27.20638861],
       [15.97055997],
       [20.06923333],
       [30.90268621],
       [25.07631881],
       [26.54857294],
       [26.57989749],
       [20.38247889],
       [19.63068954],
       [28.02709198],
       [22.10532946],
       [12.31185184],
       [29.96294953],
       [11.25308185],
       [30.30751965]])

In [35]:
y_result = y_predict - Y_train
y_result

          mpg
314  0.162358
42  -2.454853
2    2.770975
390 -7.571954
62  -1.193220
..        ...
274  5.105329
90  -0.688148
145  1.962950
66   0.253082
246 -9.092480

[297 rows x 1 columns]

In [36]:
lr.score(X_train, Y_train)

0.7144996186530674