<a href="https://colab.research.google.com/github/creamcheesesteak/test_machinelearning/blob/master/wholesale_decisiontreeclassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
!ls

sample_data  Wholesale_customers_data.csv

In [36]:
!ls -l

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:46 Wholesale_customers_data.csv

In [37]:
!pwd

/content

In [38]:
!ls -l ./sample_data

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [39]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  2 04:46 ./Wholesale_customers_data.csv

In [40]:
import pandas as pd

In [41]:
pd.read_csv('./Wholesale_customers_data.csv')

     Channel  Region  Fresh  ...  Frozen  Detergents_Paper  Delicassen
0          2       3  12669  ...     214              2674        1338
1          2       3   7057  ...    1762              3293        1776
2          2       3   6353  ...    2405              3516        7844
3          1       3  13265  ...    6404               507        1788
4          2       3  22615  ...    3915              1777        5185
..       ...     ...    ...  ...     ...               ...         ...
435        1       3  29703  ...   13135               182        2204
436        1       3  39228  ...    4510                93        2346
437        2       3  14531  ...     437             14841        1867
438        1       3  10290  ...    1038               168        2125
439        1       3   2787  ...      65               477          52

[440 rows x 8 columns]

In [72]:
df = pd.read_excel('./wholesale.xls')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        440 non-null    int64
 1   Channel           440 non-null    int64
 2   Region            440 non-null    int64
 3   Fresh             440 non-null    int64
 4   Milk              440 non-null    int64
 5   Grocery           440 non-null    int64
 6   Frozen            440 non-null    int64
 7   Detergents_Paper  440 non-null    int64
 8   Delicassen        440 non-null    int64
 9   label             440 non-null    int64
dtypes: int64(10)
memory usage: 34.5 KB

In [74]:
df

     Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0             0        2       3  ...              2674        1338      2
1             1        2       3  ...              3293        1776      2
2             2        2       3  ...              3516        7844      2
3             3        1       3  ...               507        1788      0
4             4        2       3  ...              1777        5185      2
..          ...      ...     ...  ...               ...         ...    ...
435         435        1       3  ...               182        2204      4
436         436        1       3  ...                93        2346      0
437         437        2       3  ...             14841        1867      2
438         438        1       3  ...               168        2125      0
439         439        1       3  ...               477          52      0

[440 rows x 10 columns]

In [75]:
df.head(3)

   Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0           0        2       3  ...              2674        1338      2
1           1        2       3  ...              3293        1776      2
2           2        2       3  ...              3516        7844      2

[3 rows x 10 columns]

In [77]:
Y = df['label']

In [78]:
X = df.iloc[:,1:9]

In [79]:
Y.shape, X.shape

((440,), (440, 8))

In [84]:
from sklearn.tree import DecisionTreeClassifier

In [85]:
dtree = DecisionTreeClassifier()

In [86]:
dtree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')